header {
  padding: 10px;
}
main {
  margin: 0 auto;
  background: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  max-width: 420px;
  border: 3px solid #054970;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #888888;
}
#card_setup {
  text-align: center;
  color: #D6D4BE;
}
#deck_title {
  font-size: 3em;
}
#card_index {
  font-size: 2em;
  padding-top: 10px;
}
#card {
  text-align: center;
}
#card_face {
  margin: 20px auto;
  border: 5px solid #054970;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  height: 180px;
  background: #D6D4BE;
  color: #4C4C4C;
}
#card_term {
  margin: 20px;
  border-bottom: 1px solid #054970;
  padding: 10px;
  font-size: 1.5em;
}
button {
  margin: 5px;
  padding: 5px;
  border: 3px solid #054970;
  width: 165px;
  background: #FFE0A3;
  color: #4C4C4C;
  text-decoration: none;
  display: inline-block;
}
#prev_card_button {
  border-radius: 5px;
  margin-right: 5px;
}
#next_card_button {
  border-radius: 5px;
  margin-left: 5px;
}

/*.new_cards {
  margin: 10px;
  padding: 10px;
  border-top: 2px solid #D6D4BE;
  text-align: center;
  color: #D6D4BE;
}

input, select, textarea{
    color: #4C4C4C;
}

textarea:focus, input:focus {
    color: #054970;
}*/
